#root {
    margin: 0px;
    padding: 0px;
    display: grid;
    grid-template-rows: 1fr 15fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    max-width: 100vw;
    min-height: 100vh;
    min-width: 100vw;
}

.nav {
    background-color: black;
    color: white;
    width: 100vw;
    max-height: 50px;
}

.nav > h1 {
    font-size: 42px;
    margin: 0px;
}

.nav > .github-cont > img {
    margin-right: 10px;
}

.main-grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    min-width: 100vw;
    padding-top: 10px
}

.edit-container, .preview-container {
    padding: 10px;
}

.top-buttons {
    margin-bottom: 50px;
}

/*Components*/
.top-buttons {
    width: 100%;
}

.no-disabled {
    border: 2px solid white;
}

.disabled {
    opacity: .5;
}

.default-btn {
    transition: 0.3s;
}

.fold-cont {
    background-color: #202020;
    max-height: 0px;
    overflow: hidden;
    transition: 0.4s;
    padding-top: 15px;
}

.unfold-cont {
    max-height: 700px;
    padding-bottom: 15px;
}

.edit-input {
    width: 400px;
    height: 30px;
    font-size: 16px;
}

.edit-input:not(last-child) {
    margin-bottom: 15px;
}

.section-heading {
    border-bottom: 2px solid black;
}


/* Preview*/
.paper-cont {
    background-color: white;
    min-height: 90vh;
    
    width: 80%;
    color: black;
}

.section-preview {
    margin-left: 10px;
    margin-right: 10px;
}

.section-preview:not(:first-child) > h2{
    border-bottom: 3px solid black;
}

.section-preview > h2 {
    text-align: start;
}

.horizontal-ul > li:not(:first-child) {
    margin-left: 30px;
}

.date-location-cont {
    min-width: 160px;
}

.section-card > .content-cont > h3,h4 {
    margin: 0px;
}
